<html>
    <head>
        <title>Your employment history</title>
    </head>
    <body>
        <h1>Your employment history has been erased</h1>
        <p><a href="/">Home</a></p>
    </body>
</html>
